
.idea/misc.xml
.idea/workspace.xml
.idea/SeleniumExample.iml
.vscode/settings.json
/.venv
/src/pages/__pycache__
/test/__pycache__
/test/login/__pycache__
/src/pages/__pycache__
/src/pages/__pycache__
